:root {
    --navbar-bg-color: #181818;
    --navbar-border-color: #333333;
}

body {
    background-color: rgb(16, 16, 20);
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis !important;
}

// button focus removal
.n-button:not(.n-button--disabled):focus {
    background-color: var(--n-color);
    color: var(--n-text-color);
}
.n-button:not(.n-button--disabled):hover {
    background-color: var(--n-color-hover);
    color: var(--n-text-color-hover);
}

// tab scroll shadow (improved for dark theme)
.n-tabs .n-tabs-nav-scroll-wrapper.n-tabs-nav-scroll-wrapper--shadow-before::before {
    box-shadow: inset 10px 0 8px -8px rgba(200, 200, 200, 0.12);
}
.n-tabs .n-tabs-nav-scroll-wrapper.n-tabs-nav-scroll-wrapper--shadow-after::after {
    box-shadow: inset -10px 0 8px -8px rgba(200, 200, 200, 0.12);
}

.item-counter {
    position: absolute;
    line-height: 1;
    bottom: -3px;
    right: 0.5rem;
    font-size: 0.7rem;
    text-shadow: 0 0 3px #000000;
    //opacity: 0.8;
    background-color: rgba(24, 24, 28, 0.5);
}

.highlight-result {
    color: #70c0e8;
    font-weight: bold;
}

// * Multiselect
.multiselect-dropdown {
    max-height: var(--ms-max-height) !important;
}
input.multiselect-search {
    color: var(--pane-text-color);
    background-color: transparent;
    height: 100%;
}
.multiselect-no-results {
    color: #aaaaaa !important;
}
.multiselect-dark {
    --n-option-text-color: #ffffff;
    --ms-font-size: 1rem;
    --ms-line-height: 1.375;
    --ms-bg: rgba(255, 255, 255, 0.1);
    --ms-bg-disabled: #f3f4f6;
    --ms-border-color: var(--n-border-color);
    --ms-border-width: 1px;
    --ms-radius: 4px;
    --ms-py: 0.5rem;
    --ms-px: 0.875rem;
    --ms-ring-width: 3px;
    --ms-ring-color: #10b98130;
    --ms-placeholder-color: #9ca3af;
    --ms-max-height: 20rem;

    --ms-spinner-color: #10b981;
    --ms-caret-color: #888888;
    --ms-clear-color: #888888;
    --ms-clear-color-hover: #cccccc;

    --ms-tag-font-size: 0.875rem;
    --ms-tag-line-height: 1.25rem;
    --ms-tag-font-weight: 600;
    --ms-tag-bg: #10b981;
    --ms-tag-bg-disabled: #9ca3af;
    --ms-tag-color: #ffffff;
    --ms-tag-color-disabled: #ffffff;
    --ms-tag-radius: 4px;
    --ms-tag-py: 0.125rem;
    --ms-tag-px: 0.5rem;
    --ms-tag-my: 0.25rem;
    --ms-tag-mx: 0.25rem;

    --ms-tag-remove-radius: 4px;
    --ms-tag-remove-py: 0.25rem;
    --ms-tag-remove-px: 0.25rem;
    --ms-tag-remove-my: 0rem;
    --ms-tag-remove-mx: 0.125rem;

    --ms-dropdown-bg: rgb(72, 72, 78);
    --ms-dropdown-border-color: rgb(72, 72, 78);
    --ms-dropdown-border-width: 1px;
    --ms-dropdown-radius: 4px;

    --ms-group-label-py: 0.3rem;
    --ms-group-label-px: 0.75rem;
    --ms-group-label-line-height: 1.375;
    --ms-group-label-bg: #e5e7eb;
    --ms-group-label-color: #374151;
    --ms-group-label-bg-pointed: #d1d5db;
    --ms-group-label-color-pointed: #374151;
    --ms-group-label-bg-disabled: #f3f4f6;
    --ms-group-label-color-disabled: #d1d5db;
    --ms-group-label-bg-selected: #059669;
    --ms-group-label-color-selected: #ffffff;
    --ms-group-label-bg-selected-pointed: #0c9e70;
    --ms-group-label-color-selected-pointed: #ffffff;
    --ms-group-label-bg-selected-disabled: #75cfb1;
    --ms-group-label-color-selected-disabled: #d1fae5;

    --ms-option-font-size: 1rem;
    --ms-option-line-height: 1.375;
    --ms-option-bg-pointed: rgba(255, 255, 255, 0.09);
    --ms-option-color-pointed: #ffffff;
    --ms-option-bg-selected: rgba(255, 255, 255, 0.2);
    --ms-option-color-selected: #ffffff;
    --ms-option-bg-disabled: rgba(255, 255, 255, 0.09);
    --ms-option-color-disabled: #d1d5db;
    --ms-option-bg-selected-pointed: rgba(255, 255, 255, 0.25);
    --ms-option-color-selected-pointed: #ffffff;
    --ms-option-bg-selected-disabled: rgba(255, 255, 255, 0.09);
    --ms-option-color-selected-disabled: #d1fae5;
    --ms-option-py: 0.5rem;
    --ms-option-px: 0.75rem;

    --ms-empty-color: #4b5563;
}
